# Teaspoons API URL
TEASPOONS_API_URL=not-real

# Port to use for local server (for auth)
SERVER_PORT=12345

# Oauth config stuff
OAUTH_OPENID_CONFIGURATION_URI=https://dontcare
OAUTH_CLIENT_ID=whatever

# Teaspoons storage (absolute path or relative to user's home directory)
LOCAL_STORAGE_PATH=.cool

